
@model ICDS.Models.AttendanceModel
@{
    ViewBag.Title = "PriviousMonthAttendanceFailedPanel";
    ViewBag.ActiveName = "/DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*notification*@
<link rel="stylesheet" type="text/css" href="~/Content/files/assets/pages/notification/notification.css">
<link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/animate.css/css/animate.css">
<script src="~/Content/files/assets/js/bootstrap-growl.min.js"></script>

@*Sweeatalert*@
<link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/sweetalert/css/sweetalert.css">
<script src="~/Content/files/bower_components/sweetalert/js/sweetalert.min.js"></script>

<link rel="stylesheet" href="~/Content/files/bower_components/select2/css/select2.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/bootstrap-multiselect/css/bootstrap-multiselect.css" />
<link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/multiselect/css/multi-select.css" />
<script src="~/Content/files/bower_components/select2/js/select2.full.min.js"></script>
<script src="~/Content/files/bower_components/bootstrap-multiselect/js/bootstrap-multiselect.js">
</script>
<script src="~/Content/files/bower_components/multiselect/js/jquery.multi-select.js"></script>
<script src="~/Content/files/assets/js/jquery.quicksearch.js"></script>
<script src="~/Content/files/assets/pages/advance-elements/select2-custom.js"></script>

@*Validation*@
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script src="~/Content/files/assets/js/classie.js"></script>
<script src="~/Content/files/assets/js/modalEffects.js"></script>

@*<script src="~/Scripts/DashBoard/StateDashBoardView.js"></script>*@

<style>
    .btn {
        border-radius: 2px;
        text-transform: capitalize;
        font-size: 15px;
        padding: 8px 15px;
        cursor: pointer;
    }
</style>
<div class="page-body">
    @*<div class="clearfix"><br /></div>*@
    <div class="row">
        <div class="col-md-12">
            <div class="card borderless-card m-b-0">
                <div class="inverse-breadcrumb p-10">
                    <div class="breadcrumb-header ">
                        <p class="f-18 f-w-600 m-b-0">Privious Month Pending Attendance Panel</p>
                    </div>


                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <div class="form-group row" id="message"></div>
                    <span style="color:red;"><i>Required fields are indicated with red (<a style="color:red;">*</a>)</i></span><br /><br />
                    <a href="@Url.Action("PriviousAttendanceSubmittedList","Dashboard")" style="    float: right;" class="btn btn-danger m-b-0">click here list for filled Past month salary</a>
                    <br />
                    <hr />
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="col-form-label f-w-600">Employee Code<span style="color:red;">*</span></label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="EmployeeCode" />
                        </div>
                        <div class="col-sm-1">
                            <label class="col-form-label f-w-600">Month<span style="color:red;">*</span></label>
                        </div>
                        <div class="col-sm-2">
                            @Html.DropDownListFor(model => model.MonthID, (IEnumerable<SelectListItem>)ViewData["MonthName"], new { @class = "js-example-basic-single col-sm-12", id = "ddlMonth", data_search = "true" })
                        </div>

                        <div class="col-sm-1">
                            <label class="col-form-label f-w-600">Year<span style="color:red;">*</span></label>
                        </div>
                        <div class="col-sm-2">
                            @Html.DropDownListFor(model => model.FinancialYear, (IEnumerable<SelectListItem>)ViewData["FinanCialYear"], new { @class = "js-example-basic-single col-sm-12", id = "ddlYear", data_search = "true" })
                        </div>

                        <div class="col-sm-2">
                            <img src="~/Content/files/Loader.gif" height="36" id="LoaderForView" style="display:none" />
                            <button type="submit" class="btn btn-info m-b-0" id="btnSearch" onclick="GetPriviousAttendanceFailedEmployeeData()">
                                <i class="fa fa-search"></i> View
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="divData" style="display:none;"></div>

</div>


<script>
    function GetPriviousAttendanceFailedEmployeeData() {
        $('#divData').empty();
        $('#divData').hide();
        $('#LoaderForView').show();
        $('#message').html('');

        var EmployeeCode = "";
        var MonthID = "";
        var EmployeeCode = $('#EmployeeCode').val().trim();
        var MonthID = $('#ddlMonth').val();
        var Monthyear = $('#ddlYear').val();


        if (EmployeeCode == "" || EmployeeCode == null) {
            var mesg = "<div class='alert alert-danger background-danger'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button><strong>Please!</strong> Enter Employee Code. </div>";
            $('#message').append(mesg);
            $('#LoaderForView').hide();
            return false;
        }

        if (MonthID == "-1") {
            var mesg = "<div class='alert alert-danger background-danger'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button><strong>Please!</strong> Select Month. </div>";
            $('#message').append(mesg);
            $('#LoaderForView').hide();
            return false;
        }

        if (Monthyear == "-1") {
            var mesg = "<div class='alert alert-danger background-danger'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button><strong>Please!</strong> Select Year. </div>";
            $('#message').append(mesg);
            $('#LoaderForView').hide();
            return false;
        }

        $.ajax({
            type: 'GET',
            url: '/DashBoard/PriviousAttendanceFailedEmployeeData/',
            async: true,

            data: { EmployeeCode: EmployeeCode, MonthID: MonthID, Monthyear: Monthyear },
            cache: false,
            success: function (data) {
                $('#divData').show();
                $('#divData').html(data);
                $('#LoaderForView').hide();
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    //function ConfirmSaveData(Emp_code, MonthID, Monthyear) {
    //    var x = confirm("Are you sure you want to Save this Attendance?");
    //    if (x == true) {
    //        RejectData(Emp_code, MonthID);
    //    }
    //}

    function AttandanceSave(id) {
        $("#LoaderForView_" + id + "").hide();
        var btnname = $("#btnSave_" + id + "").val();




        console.log(btnname);
        if (btnname == "Edit") {
            $('#message').html('');

            $("#LoaderForView_" + id + "").hide();
            $("#txtAbsentDays_" + id + "").prop("disabled", false);
            btnname = "Save";
            $("#btnSave_" + id + "").text(btnname);
            console.log(btnname);
            $("#btnSave_" + id + "").val(btnname);
            console.log($("#btnSave_" + id + "").val());
            return false;
        }
        else {
            $("input[type='button']").prop("disabled", true);
            var SavedRecordCount = 0;
            $("#LoaderForView_" + id + "").show();
            $('#message').html('');
            console.log(btnname);
            var UniqueID = $("#hdnUniqueID_" + id + "").val();
            var AbsentDays = $("#txtAbsentDays_" + id + "").val();
            var Half_day = $("#txthalfAbsentDays_" + id + "").val();

            var TransactionNumber = $("#hdnTransactionNumber_" + id + "").val();
            var MonthDays = $('#hdnMonthDays').val();
            var WorkingDays = 0;
            var TotalWorkingDays = 0;
            var MonthYear = $("#ddlYear option:selected").text();
            var MonthID = $("#hdnMonthID").val();
            var MonthName = $('#hdnMonthName').val();
            var AWType = $('#hdnAWType').val();
            var CategoryName = $("#hdnCategoryName_" + id + "").val();
            var AnganwadiID = $("#hdnAnganwadiID").val();
            var AnganwadiCode = $("#hdnAnganwadiCode").val();
            var AbsentStatus = $('#hdnAbsentStatus').val();
            var hdnSavedEntry = $("#hdnSavedEntry_" + id + "").val();
            var Emp_code = $("#hdnEmp_code_" + id + "").val().trim();
            var Office_ID = $("#hdnOffice_ID_" + id + "").val();




            var today = new Date();
            var year = today.getFullYear();
            var opendate = $("input[name='radio_" + id + "']:checked").val();
            var IsRegular = 0;
            var IsResignation = 0;
            var IsRetirement = 0;
            var IsTerminate = 0;
            var IsDeath = 0;
            var Resignationdate = "";
            var RetirementDate = "";
            var TerminateDate = "";
            var DeathDate = "";

            var Reason = $("#reason_" + id + "").val();
            if (opendate == "Resignation") {
                IsRegular = 0;
                IsResignation = 1;
                IsRetirement = 0;
                IsTerminate = 0;
                IsDeath = 0;

                Resignationdate = $("#txtresignationdate_" + id + "").val();
                RelivingDate = $("#txtretrieddate_" + id + "").val();

                RetirementDate = $("#hdnRetirementDate_" + id + "").val();


                if (Resignationdate == "dd/MM/yyyy" || Resignationdate == "" || Resignationdate == null) {
                    var mesg = "<div class='alert alert-warning background-warning'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button> Please Enter Resignation Date. </div>";
                    $('#message').html(mesg);
                    $("#LoaderForView_" + id + "").hide();
                    return false;
                }

                if (RelivingDate == "dd/MM/yyyy" || RelivingDate == "" || RelivingDate == null) {
                    var mesg = "<div class='alert alert-warning background-warning'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button> Please Enter Reliving Date. </div>";
                    $('#message').html(mesg);
                    $("#LoaderForView_" + id + "").hide();
                    return false;
                }


                var now = new Date();
                var MonthNo = $("#hdnMonthID").val();
                var prevMonthLastDate = new Date(MonthYear, MonthNo, 0);
                //  var prevMonthFirstDate = new Date(MonthYear - (MonthNo > 0 ? 0 : 1), (MonthNo + 1 + 12) % 12, 1);
                var prevMonthFirstDate = new Date(MonthYear - (MonthNo > 0 ? 0 : 1), MonthNo, 1);

                var minmonth = prevMonthFirstDate.getMonth();
                var minday = prevMonthFirstDate.getDate();
                var minyear = prevMonthFirstDate.getFullYear();
                if (minmonth < 10)
                    minmonth = '0' + minmonth.toString();
                if (minday < 10)
                    minday = '0' + minday.toString();
                var minDate = minyear + '-' + minmonth + '-' + minday;

                var NewRetirementDate = new Date(RetirementDate);
                var maxmonth = NewRetirementDate.getMonth() + 1;
                var maxday = NewRetirementDate.getDate();
                var maxyear = NewRetirementDate.getFullYear();
                if (maxmonth < 10)
                    maxmonth = '0' + maxmonth.toString();
                if (maxday < 10)
                    maxday = '0' + maxday.toString();
                var maxDate = maxyear + '-' + maxmonth + '-' + maxday;

                if (minDate <= Resignationdate) {

                }
                else {
                    //var mesg = "<div class='alert alert-warning background-warning'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button> Please Enter Resignation Date for this Month " + MonthName + ". </div>";
                    //$('#message').html(mesg);
                    //$("#btnSave_" + id + "").prop("disabled", true);
                    //$("#LoaderForView_" + id + "").hide();
                    //return false;
                }

                if (Resignationdate <= maxDate) {

                }
                else {
                    var mesg = "<div class='alert alert-warning background-warning'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button> Please Enter Resignation Date before  Retirement Date . </div>";
                    $('#message').html(mesg);
                    $("#btnSave_" + id + "").prop("disabled", true);
                    $("#LoaderForView_" + id + "").hide();;
                    return false;
                }

                if (Resignationdate <= RelivingDate) {
                    //alert("Resignationdate:" + Resignationdate + " <br />Reliving Date:" + RelivingDate);
                }
                else {
                    var mesg = "<div class='alert alert-warning background-warning'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button> Please Enter Proper Reliving Date. </div>";
                    $('#message').html(mesg);
                    $("#LoaderForView_" + id + "").hide();
                    return false;
                }

                if (RelivingDate <= maxDate) {

                }
                else {
                    var mesg = "<div class='alert alert-warning background-warning'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button> Please Enter Reliving Date before Retirement date. </div>";
                    $('#message').html(mesg);
                    $("#btnSave_" + id + "").prop("disabled", true);
                    $("#LoaderForView_" + id + "").hide();
                    return false;
                }
            }
            else if (opendate == "Retirement") {
                IsRegular = 0;
                IsResignation = 0;
                IsRetirement = 1;
                Resignationdate = "";
                RelivingDate = "";
                IsTerminate = 0;
                IsDeath = 0;
                TerminateDate = "";
                DeathDate = "";
            }
            else if (opendate == "Regular") {
                IsRegular = 1;
                IsResignation = 0;
                IsRetirement = 0;
                Resignationdate = "";
                RelivingDate = "";
                IsTerminate = 0;
                IsDeath = 0;
                TerminateDate = "";
                DeathDate = "";
            }
            else if (opendate == "Terminate") {
                IsRegular = 0;
                IsResignation = 0;
                IsRetirement = 0;
                IsTerminate = 1;
                IsDeath = 0;

                TerminateDate = $("#txtTerminatedate_" + id + "").val();
                Resignationdate = "";
                RelivingDate = "";

                DeathDate = "";

                if (TerminateDate == "dd/MM/yyyy" || TerminateDate == "" || TerminateDate == null) {
                    var mesg = "<div class='alert alert-warning background-warning'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button> Please Enter terminate Date. </div>";
                    $('#message').html(mesg);
                    $("#LoaderForView_" + id + "").hide();
                    return false;
                }
            }
            else if (opendate == "Death") {
                IsRegular = 0;
                IsResignation = 0;
                IsRetirement = 0;
                IsTerminate = 0;
                IsDeath = 1;
                Resignationdate = "";
                RelivingDate = "";
                TerminateDate = "";

                DeathDate = $("#txtDeathdate_" + id + "").val();

                if (DeathDate == "dd/MM/yyyy" || DeathDate == "" || DeathDate == null) {
                    var mesg = "<div class='alert alert-warning background-warning'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button> Please Enter Death Date. </div>";
                    $('#message').html(mesg);
                    $("#LoaderForView_" + id + "").hide();
                    return false;
                }
            }
            else {
                IsRegular = 1;
                IsResignation = 0;
                IsRetirement = 0;
                IsTerminate = 0;
                IsDeath = 0;
                Resignationdate = "";
                RelivingDate = "";
                TerminateDate = "";
                DeathDate = "";
            }

            if (AbsentDays == "") {
                var mesg = "<div class='alert alert-warning background-warning'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button>Please Enter Absent Days. </div>";
                $('#message').html(mesg);
                $("#LoaderForView_" + id + "").hide();
                return false;
            }

            var TotalWorkingDays = Number(MonthDays) - Number(AbsentDays)

            if (Number(AbsentDays) > Number(MonthDays)) {
                var mesg = "<div class='alert alert-warning background-warning'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button>Please enter the less than total month day. </div>";
                $('#message').html(mesg);
                $("#LoaderForView_" + id + "").hide();
                return false;
            }

            if (IsRetirement == 1) {
                var Retirementdatainput1 = $("#txtRetirementdate_" + id + "").val();
                if (Retirementdatainput1 == "") {
                    var mesg = "<div class='alert alert-warning background-warning'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button> Please Enter Retierment Date. </div>";
                    $('#message').html(mesg);
                    $("#LoaderForView_" + id + "").hide();
                    return false;
                }

            }
            var RetirementDate = $("#newhdnRetirementDate_" + id + "").val();
            var Retirementdatainput = $("#txtRetirementdate_" + id + "").val();

            var Actual_Month = $('#ddl_actual_Month').val();
            var Actual_Year = $('#ddl_actual_Year').val();

            $.ajax({
                url: '/DashBoard/PriviousAttendanceFailedAddUpdateAttendance',
                type: 'Post',
                datatype: 'json',
                data: {
                    UniqueID: UniqueID, AbsentDays: AbsentDays, TransactionNumber: TransactionNumber, MonthID: MonthID, CategoryName: CategoryName, AnganwadiID: AnganwadiID, AnganwadiCode: AnganwadiCode,
                    AbsentStatus: AbsentStatus, IsRegular: IsRegular, IsResignation: IsResignation, IsRetirement: IsRetirement, Resignationdate: Resignationdate, RelivingDate: RelivingDate,
                    NewWorkingDays: MonthDays, TotalWorkingDays: TotalWorkingDays, AWType: AWType, MonthYear: MonthYear, Reason: Reason, Retirementdatainput: Retirementdatainput, RetirementDate: RetirementDate,
                    IsTerminate: IsTerminate, TerminateDate: TerminateDate, IsDeath: IsDeath, DeathDate: DeathDate, hdnSavedEntry: hdnSavedEntry, Emp_code: Emp_code, Office_ID: Office_ID, Half_day: Half_day,
                    Actual_Month: Actual_Month, Actual_Year: Actual_Year
                },
                success: function (data) {
                    if (data.result > 0) {
                        $("#hdnTransactionNumber_" + id + "").val(data.TransactionNumber);
                        var mesg = "<div class='alert alert-success background-success'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button>Saved Successfully. </div>";
                        $('#message').html(mesg);
                        btnname = "Edit";
                        $("#btnSave_" + id + "").text(btnname);
                        console.log(btnname);
                        $("#btnSave_" + id + "").val(btnname);
                        console.log($("#btnSave_" + id + "").val());
                        $("#LoaderForView_" + id + "").hide();
                        $("#txtAbsentDays_" + id + "").prop("disabled", true);
                        $("input[type='button']").prop("disabled", false);
                        var SavedEntryID = $("#hdnSavedEntry_" + id + "").val();
                        var EntryDone = $("#hdnEntryDone").val();
                        if (SavedEntryID == 0) {
                            var TotalRecordID = $("#hdnTotalRecordid").val();
                            EntryDone = Number(EntryDone) + Number(1);
                            if (Number(EntryDone) == Number(TotalRecordID)) {
                                $("#hdnSavedEntry_" + id + "").val(Number(1));
                                $("#hdnEntryDone").val(Number(TotalRecordID));
                                $('#AbsentStatus').val('Submitted');
                                $('#hdnSubmittedEntry').val(Number(TotalRecordID));
                            }
                            else {
                                $("#hdnSavedEntry_" + id + "").val(Number(1));
                                $('#AbsentStatus').val('Not Submitted');
                                $("#hdnEntryDone").val(Number(EntryDone))
                                $('#hdnSubmittedEntry').val(Number(EntryDone));
                            }
                            if (EntryDone > 2) {
                                EmtryDone = 0;
                            }
                        }
                        var savecnt = $('#savecount').val();
                        var Totlsave = Number(savecnt) + 1;
                        $('#savecount').val(Totlsave);
                        var Totl_save = $('#savecount').val();
                        var cont = $('#Totalcount').val();
                        if (Totl_save >= cont) {
                            $('#btnClose').attr("disabled", false);
                        }
                        else {
                            $('#btnClose').attr("disabled", true);
                        }
                    }
                    else if (data == -1) {
                        var mesg = "<div class='alert alert-warning background-warning'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button> Attandance not saved.</div>";
                        $('#message').html(mesg);
                        $("#LoaderForView_" + id + "").hide();
                        return false;
                    }
                    else if (data == -3) {
                        var mesg = "<div class='alert alert-warning background-warning'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button>Please Enter Proper Reliving Date or Resignation Days. </div>";
                        $('#message').html(mesg);
                        $("#LoaderForView_" + id + "").hide();
                        return false;
                    }
                    else {
                        var mesg = "<div class='alert alert-warning background-danger'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>&nbsp;&nbsp;&nbsp;<i class='icofont icofont-close-line-circled text-white'></i></button> Attandance not saved . </div>";
                        $('#message').html(mesg);
                        $("#LoaderForView_" + id + "").hide();
                        return false;
                    }
                }, error: function (xhr, status, error) {
                    alert(xhr.responseText);
                    $('#message').html('');
                    $("#LoaderForView_" + id + "").hide();
                }
            });

        }
    }




</script>